.navbar {
  position: sticky;
  top: 0;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgb(221, 221, 221);
  background: white;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      font-size: 1.1rem;
    }
  }

  .auth {
    font-size: 0.75rem;
  }
}
