@import "../../../scss/colors";

.navbar {
  position: sticky;
  top: 0;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgb(221, 221, 221);
  background: white;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      font-size: 1.1rem;
    }
  }

  .auth {
    font-size: 0.9rem;
    display: flex;
    align-items: center;

    &-icon {
      display: flex;
      margin-left: 0.5rem;
    }

    .register {
      margin-left: 0.5rem;
      color: $purple;
      font-weight: 600;
    }

    div {
      cursor: pointer;
    }
  }
}
