#join {
  margin-top: 2rem;

  form {
    div {
      margin-bottom: 1rem;
    }
  }

  section {
    margin-top: 2rem;
  }
}

.section-title {
  font-size: 1.25rem;
}

.join-width {
  width: 90%;
  margin: auto;
}

.bottom-margin {
  margin-bottom: 7rem;
}

@media (min-width: 768px) {
  .join-width {
    width: 350px;
    margin: 0;
  }

  .section-title {
    font-size: 1.75rem;
  }
}
