.user-card {
  &-photos {
    width: 100%;
    height: calc(100vw * 0.9);
    border-radius: 5px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}

@media (min-width: 768px) {
  .user-card {
    width: 400px;
    display: flex;
    justify-content: center;

    &-photos {
      height: 400px;
    }
  }
}
