@import "../../../../scss/colors";

.user-card {
  width: 100%;
  &-photos {
    width: 100%;
    height: calc(100vw * 0.9);
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -4px rgba(0, 0, 0, 0.1);

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 5px;

      user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
    }
  }

  &-primary {
    font-weight: 600;
    font-size: 1.25rem;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
  }

  section {
    margin-top: 1rem;
    text-align: left;
  }
}

.photo-message {
  width: 100%;
}

@media (min-width: 768px) {
  .user-card {
    width: 400px;

    &-photos {
      height: 400px;
    }
  }
}
