@import "../../../../scss/colors";

.message-card {
  padding: 0.5rem 1rem;
  border-radius: 5px;

  &-yours {
    display: flex;
    background: $purple;
    color: white;
    justify-self: flex-end;
  }

  &-not-yours {
    background: $gray;
  }
}

.message-wrapper {
  display: flex;
  padding-bottom: 0.5rem;

  &-yours{
    justify-content: flex-end;
  }
}

