@import "../../../scss/colors";
@import "../../../scss/global";

.account {
  padding-top: 1rem;

  header {
    font-size: 1.5rem;
    font-weight: 600;
    color: $purple;
    display: flex;
    align-items: baseline;
    margin-bottom: 4rem;

    .log-out {
      font-size: 1rem;
      color: black;
      margin-left: 2rem;
      cursor: pointer;
      display: flex;
      align-items: baseline;

      &-icon {
        display: flex;
        margin-right: 0.5rem;
      }
    }
  }

  &-primary-data {
    //border-bottom: 1px solid $gray;

    p {
      font-size: 1.25rem;
    }

    form {
      div {
        input,
        textarea {
          width: 100%;
        }

        textarea {
          box-sizing: border-box;
        }
      }
    }
  }

  &-auth-data {
    margin-top: 2rem;

    p {
      font-size: 1.25rem;
    }
  }
}

button {
  @include button-mixin;
  margin-top: 1rem;
}

.message {
  margin-top: 0.5rem;
  color: $purple;
}

.reset {
  background: black !important;
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  .account {
    &-primary-data {
      form {
        .form-inputs {
          display: flex;

          div {
            margin-right: 1rem;
            input {
              width: 350px;
            }
          }

          textarea {
            width: 350px;
          }
        }
      }
    }
  }
}
