@import "../../scss/global";

.welcome {
  header {
    margin: 10rem 0;

    .title {
      font-size: 5rem;
      font-weight: 600;
    }

    .sub-title {
      font-size: 2rem;
      font-weight: 400;
    }
  }
}

button {
  @include button-mixin;
  font-size: 1.25rem;
  width: 360px;
}
