@import "../../scss/global";

.welcome {
  header {
    margin: 10rem 0;

    .title {
      font-size: 3rem;
      font-weight: 600;
      text-align: center;
    }

    .sub-title {
      font-size: 1rem;
      font-weight: 400;
      text-align: center;
    }
  }

  .join {
    button {
      @include button-mixin;
      font-size: 1.25rem;
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .welcome {
    header {
      .title {
        font-size: 5rem;
      }
      .sub-title {
        font-size: 2rem;
      }
    }

    .join {
      button {
        width: 350px;
      }
    }
  }
}
