@import "../../../scss/colors";

.home {
  padding-top: 1rem;
  text-align: center;

  &-user-display {
    display: flex;
    justify-content: center;
  }

  &-zero-swipes {
    header {
      font-size: 1.5rem;
      color: $purple;
      font-weight: 600;
    }
  }
}
