@import "colors";

@mixin button-mixin {
  padding: 0.5rem 1rem;
  background: $purple;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
  margin: auto;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.container {
  width: 90%;
  margin: auto;
}

.text-input {
  text-overflow: ellipsis ellipsis;
  font-family: inherit;
  margin-bottom: 0.5rem;
  border: none;
  border-bottom: 1px solid $gray;
  padding: 0.5rem 1rem;
  width: 90%;
  transition: border 0.25s ease-in-out;
}

.text-input:disabled {
  background: transparent;
}

.text-input:focus,
textarea:focus {
  outline: none;
  border-color: black;
}

textarea {
  font-family: inherit;
  margin-bottom: 0.5rem;
  border: none;
  border: 1px solid $gray;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 90%;
  transition: border 0.25s ease-in-out;
  resize: none;
  box-sizing: unset;
}

@media (min-width: 768px) {
  .container, {
    width: 760px;
  }

  .text-input {
    width: 350px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 980px;
  }
}

@media (min-width: 1200px) {
  .container,{
    width: 1190px;
  }
}
