@import "colors";

@mixin button-mixin {
  padding: 0.5rem 1rem;
  background: $purple;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
}

.container {
  width: 90%;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    width: 760px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 980px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
}
